.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
_quarto.yml

/Lab0/lab0_files/
/Lab0/README.html

/Lab1/lab1_files/
/Lab1/README.html

/Lab2/lab2_files/
/Lab2/README.html

/Lab3/lab3_files/
/Lab3/README.html

/Lab4/lab4_files/
/Lab4/README.html

/Lab5/lab5_files/
/Lab5/README.html

/Lab6/lab6_files/
/Lab6/README.html

/Lab7/lab7_files/
/Lab7/README.html

/Lab8/lab8_files/
/Lab8/README.html

/Lab9/lab9_files/
/Lab9/README.html
